.logo-box {
    background: blue;
    color: green;
    font-size: 1.5rem;
    height: 100px;
}

.logo {
    padding: 28px;
}

.controller {
    position: fixed;
    left: 0px;
    top: 150px;
    padding: 3px;
    background: black;
    opacity: .4;
    transition: 1s;
    font-size: .8rem;
    padding: 12px;
}

.icon {
    padding: 20px 5px;
    font-size: 2rem;
}

.index {
    background: #fff;
    padding: 10px;
}

.index li {
    margin: 10px 0;
}

.footer{
    background: black;
    height: 50px;
    width: 100%;
}

.arrow {
    transform: translateX(-100px);
    transition: transform 1s;
    position: fixed;
    top: 11px;
    left: 0px;
    background: black;
    color: white;
    font-size: 2rem; 
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 770px) {
    .onarrow {
        transform: translateX(-100px);
        transition: transform 1s;
    }
    
    .arrow {
        transform: translateX(0px);
        transition: transform 1s;
    }
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    z-index: 15;
    padding: 1em;
    background: #fff;
    border-radius: 20px;
  }